<h1>Boxes</h1>

<table class="listing">
  <tr>
    <th>Material</th>
    <th>Color</th>
    <th>Widget</th>
    <th>Description</th>
    <th>Created</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @boxes.each do |box| %>
  <tr>
    <td><%= box.material %></td>
    <td><%= box.color %></td>
    <td><%= box.widget ? box.widget.name : "None" %></td>
    <td><%= box.description ? box.description : "None" %></td>
    <td><%= short_date(box.created_at) %></td>
    <td><%= link_to 'Show', box %></td>
    <td><%= link_to 'Edit', edit_box_path(box) %></td>
    <td><%= link_to 'Destroy', box, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Box', new_box_path %>
