<p>
  <b>Name:</b>
  <%= @widget.name %>
</p>

<p>
  <b>Description:</b>
  <%= @widget.description %>
</p>

<p>
  <b>Color:</b>
  <%= @widget.color %>
</p>

<p>
  <b>Size:</b>
  <%= @widget.size %>
</p>

<p>
  <b>Box:</b>
  <%= @widget.box ? @widget.box.material : "None" %>
</p>

<%= link_to 'Edit', edit_widget_path(@widget) %> |
<%= link_to 'Back', widgets_path %>
