<h1>Order Information</h1>

<p>
  <b>Name:</b>
  <%= @order.name %>
</p>
<p>
    <b>Placed on:</b>
    <%= "#{time_ago_in_words(@order.created_at)} ago" %>
</p>

<div id="total">
 <%= render :partial => 'total' %>
</div>

<ul id="box_listing">
 <% @order.boxes.each do |box| %>
	 <%= render :partial => 'box', :locals => {:box => box} %>
 <% end %>
</ul>


<div id="message">
</div>

<div id="box_options">
<p>Add a box to this order:</p>
<%#= form_tag :action => 'add_box', :id => @order.id do %>
<%= form_tag add_box_order_path(@order), :remote => true do %>
  <%= select_tag 'box_id', 
   options_for_select(Box.not_on_an_order.collect { |b|
    [ b.description, b.id ] }), :include_blank => true %>
  <%= submit_tag 'Add Box', :class => "btn btn-primary"  %>
<% end %>
</div>

<%= link_to 'Edit', edit_order_path(@order), :class => "btn" %>
<%= link_to 'Back', orders_path, :class => "btn" %>
